Repository vial-kb/vial-qmk, pull requests merged in 2021-07, with the labels that each got.

#24 Vial support for YD60MQ
  keyboards/yd60mq/keymaps/vial/config.h
  keyboards/yd60mq/keymaps/vial/keymap.c
  keyboards/yd60mq/keymaps/vial/readme.md
  keyboards/yd60mq/keymaps/vial/rules.mk
  keyboards/yd60mq/keymaps/vial/vial.json
Labels: keymap

#25 Add CX60 Pcb
  keyboards/cx60/config.h
  keyboards/cx60/cx60.c
  keyboards/cx60/cx60.h
  keyboards/cx60/info.json
  keyboards/cx60/keymaps/default/keymap.c
  keyboards/cx60/keymaps/default/readme.md
  keyboards/cx60/keymaps/vial/config.h
  keyboards/cx60/keymaps/vial/keymap.c
  keyboards/cx60/keymaps/vial/readme.md
  keyboards/cx60/keymaps/vial/rules.mk
  keyboards/cx60/keymaps/vial/vial.json
  keyboards/cx60/keymaps/vial_caps/config.h
  keyboards/cx60/keymaps/vial_caps/keymap.c
  keyboards/cx60/keymaps/vial_caps/readme.md
  keyboards/cx60/keymaps/vial_caps/rules.mk
  keyboards/cx60/keymaps/vial_caps/vial.json
  keyboards/cx60/readme.md
  keyboards/cx60/rules.mk
Labels: keyboard, keymap

#26 Pteron36 encoder
  keyboards/pteron36/config.h
  keyboards/pteron36/keymaps/via/rules.mk
  keyboards/pteron36/keymaps/via/vial.json
  keyboards/pteron36/rules.mk
Labels: keyboard, keymap, via

#28 Ported kprepublic bm40hsrgb
  keyboards/bm40hsrgb/config.h
  keyboards/bm40hsrgb/keymaps/vial/keymap.c
  keyboards/bm40hsrgb/keymaps/vial/readme.md
  keyboards/bm40hsrgb/keymaps/vial/rules.mk
  keyboards/bm40hsrgb/keymaps/vial/vial.json
Labels: keyboard, keymap

#29 Fixes default bm40hsrgb layout
  keyboards/bm40hsrgb/keymaps/vial/keymap.c
Labels: keymap

#30 Vial support for KBDFans KBD67 Rev2
  keyboards/kbdfans/kbd67/hotswap/keymaps/vial/config.h
  keyboards/kbdfans/kbd67/hotswap/keymaps/vial/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/vial/readme.md
  keyboards/kbdfans/kbd67/hotswap/keymaps/vial/rules.mk
  keyboards/kbdfans/kbd67/hotswap/keymaps/vial/vial.json
  keyboards/kbdfans/kbd67/rev2/keymaps/vial/config.h
  keyboards/kbdfans/kbd67/rev2/keymaps/vial/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/vial/readme.md
  keyboards/kbdfans/kbd67/rev2/keymaps/vial/rules.mk
  keyboards/kbdfans/kbd67/rev2/keymaps/vial/vial.json
Labels: keymap

#31 Vial support for KBDFans KBD75 Rev 2
  keyboards/kbdfans/kbd75/keymaps/vial_rev2/config.h
  keyboards/kbdfans/kbd75/keymaps/vial_rev2/keymap.c
  keyboards/kbdfans/kbd75/keymaps/vial_rev2/readme.md
  keyboards/kbdfans/kbd75/keymaps/vial_rev2/rules.mk
  keyboards/kbdfans/kbd75/keymaps/vial_rev2/vial.json
Labels: keymap

#32 Vial support for MechWild MurphPad
  keyboards/mechwild/murphpad/keymaps/vial/config.h
  keyboards/mechwild/murphpad/keymaps/vial/keymap.c
  keyboards/mechwild/murphpad/keymaps/vial/rules.mk
  keyboards/mechwild/murphpad/keymaps/vial/vial.json
Labels: keymap

#33 Increased layer count on Boston (due to increased EEPROM emulation size in Vial…
  keyboards/boston/config.h
  keyboards/boston/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#34 Vial support for MechWild Mercutio
  keyboards/mechwild/mercutio/keymaps/vial/config.h
  keyboards/mechwild/mercutio/keymaps/vial/keymap.c
  keyboards/mechwild/mercutio/keymaps/vial/rules.mk
  keyboards/mechwild/mercutio/keymaps/vial/vial.json
Labels: keymap

#35 Added backlight support, renamed "via" folder to "vial"
  keyboards/boston/keymaps/vial/keymap.c
  keyboards/boston/keymaps/vial/rules.mk
  keyboards/boston/keymaps/vial/vial.json
Labels: keymap

#36 Pteron36 Oled, rgb support, enable ee_hand
  keyboards/pteron36/config.h
  keyboards/pteron36/keymaps/via/keymap.c
  keyboards/pteron36/keymaps/via/vial.json
  keyboards/pteron36/rules.mk
Labels: keyboard, keymap, via

#37 Vial support for MechWild OBE
  keyboards/mechwild/obe/config.h
  keyboards/mechwild/obe/f401/halconf.h
  keyboards/mechwild/obe/f401/mcuconf.h
  keyboards/mechwild/obe/f401/rules.mk
  keyboards/mechwild/obe/f411/halconf.h
  keyboards/mechwild/obe/f411/mcuconf.h
  keyboards/mechwild/obe/f411/rules.mk
  keyboards/mechwild/obe/info.json
  keyboards/mechwild/obe/keymaps/default/keymap.c
  keyboards/mechwild/obe/keymaps/via/keymap.c
  keyboards/mechwild/obe/keymaps/via/rules.mk
  keyboards/mechwild/obe/keymaps/vial/config.h
  keyboards/mechwild/obe/keymaps/vial/keymap.c
  keyboards/mechwild/obe/keymaps/vial/rules.mk
  keyboards/mechwild/obe/keymaps/vial/vial.json
  keyboards/mechwild/obe/obe.c
  keyboards/mechwild/obe/obe.h
  keyboards/mechwild/obe/readme.md
  keyboards/mechwild/obe/rules.mk
Labels: keyboard, keymap, via
